@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: rgb(184, 243, 184);
  --size: 100px;
  --tile: rgb(4, 0, 254);
  --correct: rgb(15, 236, 114);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
    margin: 0;
    padding: 0;
}

@layer components {
  .cell {
    grid-template-columns: repeat(4,var(--size));
  grid-template-rows: repeat(4,var(--size));
  }

  .cell-image {
      position: absolute;
      width: var(--size);
      height: var(--size);
      transition: left .4s ease-in-out, top .4s ease-in-out;
    }

    .cell-image.correct{
      background: var(--correct);
    }
}